ResBaz Beginner's Programming Workshop
========
#### June 08, 2016

To open Python from within the terminal (bash shell), type *python*. When Python in running, the **$ ~** will become **>>>**. The command *quit()* will quit Python and return to the bash shell. 

Python v3 is the industry standard, and has some differences from Python v2. Notably, division operations for Integers and Floating Points are reversed and no brackets are required in the *print* function in v2 (ie: *print(2)* becomes *print2*).

> **Coding is like talking to a dog.**
>
> The dog will only understand specific command words (sit, stay, fetch, etc.) but not complex sentences. 

The following commands are helpful within the Jupyter (iPython Notebook) environment:
* X = cut
* V = paste
* B = add cell below
* A = add cell above

In [1]:
"hello, isn't it a lovely day?"

"hello, isn't it a lovely day?"

In [2]:
type(45)

int

In [3]:
str(45.25)

'45.25'

In [4]:
int(1)

1

In [5]:
int('hello')

ValueError: invalid literal for int() with base 10: 'hello'

In [6]:
int('1')

1

In [7]:
int('1.25')

ValueError: invalid literal for int() with base 10: '1.25'

In [8]:
int(42.37)

42

In [9]:
int(42.8)

42

In [10]:
input('type a number ')

type a number 1

'1'

In [11]:
number = '42'

In [12]:
number

'42'

In [13]:
int(number)

42

In [14]:
number

'42'

In [15]:
number_int = int(number)

In [16]:
number_int

42

In [17]:
number = input('type a number ')

type a number 42

In [18]:
number

'42'

In [19]:
number = input('type a number ')

type a number hello

In [20]:
number

'hello'

In [21]:
number = input('type a number ', int)

TypeError: raw_input() takes from 1 to 2 positional arguments but 3 were given

In [22]:
number = input('type a number ',type(int))

TypeError: raw_input() takes from 1 to 2 positional arguments but 3 were given

In [23]:
number = int(input('type a number '))

type a number 42

In [24]:
number

42

In [25]:
number = int(input('type a number '))

type a number hello

ValueError: invalid literal for int() with base 10: 'hello'

In [26]:
number

42

In [27]:
number = 'hello'

In [28]:
number

'hello'

In [29]:
type(number)

str

In [30]:
number = number + number

In [31]:
number

'hellohello'

In [32]:
number = '42'

In [33]:
number

'42'

In [34]:
number = number + number

In [35]:
number

'4242'

In [36]:
number = 'hello'

In [37]:
number * 3

'hellohellohello'

In [38]:
number * number

TypeError: can't multiply sequence by non-int of type 'str'

In [39]:
answer = 5
print(answer)

5

In [40]:
x = 273 - 200 * 2

In [41]:
x

-127